<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .smartman {
            background-color: rebeccapurple;

        }

        input {
            height: 30px;
            border: 0;
            border-bottom: 2px solid blue;
        }

        textarea {
            height: 200px;
            border: 0;
            border: 1px solid blue;
        }
        p{
            width: 90%;
        }
    </style>
</head>

<body>

    <form style="width: 60%;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 7px 13px 0px grey;
    border-radius: 10px;" action="/home" method="post" enctype="multipart/form-data">

        <h1 style="text-align: center;
        margin: 0;
        margin-bottom: 20px;">User Profile</h1>
        <input placeholder="Name" type="text" name="name"><br>
        <input placeholder="Email" type="email" name="email"><br>
        <input placeholder="Address" type="text" name="addres"><br>
        Image Profile<input style="border: none;" placeholder="Image " type="file" name="image"><br>
        CV <input style="border: none;" placeholder="CV" type="file" name="cv"><br>
        <br><textarea placeholder="Description" name="description" id="" cols="30" rows="10"></textarea>
        <br><input type="submit" value="save profile">

    </form>
    <div style="width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;">
    <% for( let index=0; index < profiles.length; index++ ) { %>
        
            <div style="width: 200px;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 0px 0 3px 0px;
            display: flex;
            flex-direction: column;
            margin: 0 20px;">
                <h1 class="<%= profiles[index].name %>">
                    <%= profiles[index].name %>
                </h1>
                <img style="width: 200px;
                margin-bottom: 10px;" src="/images/<%= profiles[index].image %>">
                <p>Email: <br> <%= profiles[index].email %></p>
                <p>Address: <br> <%= profiles[index].addres %></p>
                <p>Description: <br> <%= profiles[index].description %></p>
                <form action="/profile/update" method="get">
                    <input type="text" hidden name="name" value="<%= profiles[index].name %>">
                    <input type="submit" value="save profile">
                </form>
            </div>
        
        <% } %>
    </div>

</body>

</html>